In [71]:
import pandas as pd
import numpy as np

In [72]:
df1 = pd.read_csv('nketa-orders0916.csv')
df1.head()

,Date Sample Taken,Laboratory Request Number,Art Number,Cohort Number,Facility,Test Type,Request Reason,Date Result Issued
0,2025-09-16,09-0A-17-2025-L-14889,09-0A-17-2011-A-01412,SEP-2011,Nketa,Viral Load,Routine Viral Load,2025-09-16
1,2025-09-16,09-0A-17-2025-L-14891,09-0A-17-2011-A-01381,SEP-2011,Nketa,Viral Load,Routine Viral Load,2025-09-16
2,2025-09-16,09-0A-17-2025-L-14893,09-0A-17-2008-A-01005,SEP-2008,Nketa,Viral Load,Routine Viral Load,2025-09-16
3,2025-09-16,09-0A-17-2025-L-14895,09-0A-17-2015-A-00303,SEP-2015,Nketa,Viral Load,Routine Viral Load,2025-09-16
4,2025-09-16,09-0A-17-2025-L-14897,09-0A-17-2011-A-01427,SEP-2011,Nketa,Viral Load,Routine Viral Load,2025-09-16

In [73]:
df1.columns

Index(['Date Sample Taken ', 'Laboratory Request Number', 'Art Number',
       'Cohort Number', 'Facility', 'Test Type', 'Request Reason',
       'Date Result Issued'],
      dtype='object')

In [74]:

count = len(df1[df1['Date Sample Taken '] == '2025-09-16'])
print(count)

77

In [75]:
df2 = pd.read_csv('EHR_laboratory_request_202509170953.csv')
df2.head()

,client_sample_id,facility,facility_id,sample_type_name,test_name,date_collected,date_published,review_state,sent_to_lims,sent_to_ehr,error_reason
0,01235R,Princess Margaret,ZW090A12,Blood,Viral Load,2025-09-09 07:13:51.000,NaN,sample_due,SENT_TO_LIMS,sample_due,NaN
1,48749L,Princess Margaret,ZW090A12,Blood,Viral Load,2025-09-09 06:40:47.000,NaN,sample_due,SENT_TO_LIMS,sample_due,NaN
2,66754Q,Nketa,ZW090A17,Blood,Viral Load,2025-09-12 06:12:12.000,NaN,sample_received,SENT_TO_LIMS,sample_received,NaN
3,30607Z,Nketa,ZW090A17,Blood,Viral Load,2025-09-12 06:10:38.000,NaN,sample_received,SENT_TO_LIMS,sample_received,NaN
4,93796T,Nketa,ZW090A17,Blood,Viral Load,2025-09-12 06:08:57.000,NaN,sample_received,SENT_TO_LIMS,sample_received,NaN

In [76]:
df2.columns

Index(['client_sample_id', 'facility', 'facility_id', 'sample_type_name',
       'test_name', 'date_collected', 'date_published', 'review_state',
       'sent_to_lims', 'sent_to_ehr', 'error_reason'],
      dtype='object')

In [77]:
count = len(df2[df2['date_collected'].str.startswith('2025-09-16')])
print(count)

51

In [78]:
df3 = pd.read_csv('shr.csv')
df3.head()

,lab_request_number,task_status,test_type,task_authored_on,date_sample_taken,encounter_facility,encounter_facility_id,impilo_cid_long_lab_req_num
0,68160X,accepted,Viral Load,2025-09-16T09:39:50+02:00,2025-09-16T09:39:31+02:00,Nketa,ZW090A17,09-0A-17-2025-L-15023
1,65165X,accepted,Viral Load,2025-09-15T09:24:06+02:00,2025-09-16T09:23:49+02:00,Nketa,ZW090A17,09-0A-17-2025-L-14843
2,11627X,accepted,Viral Load,2025-09-15T09:29:05+02:00,2025-09-16T09:28:25+02:00,Nketa,ZW090A17,09-0A-17-2025-L-14851
3,28427E,accepted,Viral Load,2025-09-16T10:01:04+02:00,2025-09-16T10:00:42+02:00,Nketa,ZW090A17,09-0A-17-2025-L-15049
4,50034P,accepted,Viral Load,2025-09-15T08:44:19+02:00,2025-09-16T08:44:01+02:00,Nketa,ZW090A17,09-0A-17-2025-L-14758

In [79]:
# See which records don't match
df1_unmatched = df1[~df1['Laboratory Request Number'].isin(df3['impilo_cid_long_lab_req_num'])]
df3_unmatched = df3[~df3['impilo_cid_long_lab_req_num'].isin(df1['Laboratory Request Number'])]

print(f"Unmatched records in df1: {len(df1_unmatched)}")
print(f"Unmatched records in df3: {len(df3_unmatched)}")

Unmatched records in df1: 49
Unmatched records in df3: 19

In [80]:
# Read your datasets (adjust file paths as needed)
df1 = pd.read_csv('nketa-orders0916.csv')  # The one with impilo_cid_long_lab_req_num
df2 = pd.read_csv('shr.csv')  # The one with Laboratory Request Number

# Clean column names if needed
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()

# Merge the datasets
merged_df = pd.merge(
    df1, 
    df2, 
    left_on='Laboratory Request Number', 
    right_on='impilo_cid_long_lab_req_num',
    how='inner'
)

# Optional: Remove duplicate column after merge
# merged_df = merged_df.drop('Laboratory Request Number', axis=1)

print(f"Original df1 shape: {df1.shape}")
print(f"Original df2 shape: {df2.shape}")
print(f"Merged df shape: {merged_df.shape}")
print(merged_df.head())

Original df1 shape: (77, 8)
Original df2 shape: (47, 8)
Merged df shape: (28, 16)
  Date Sample Taken Laboratory Request Number             Art Number  \
0        2025-09-16     09-0A-17-2025-L-14893  09-0A-17-2008-A-01005
1        2025-09-16     09-0A-17-2025-L-14906  09-0A-17-2011-A-01352
2        2025-09-16     09-0A-17-2025-L-14910       090A172009A01340
3        2025-09-16     09-0A-17-2025-L-14926  09-0A-17-2011-A-01407
4        2025-09-16     09-0A-17-2025-L-14945  09-0A-17-2012-A-00812

  Cohort Number Facility   Test Type      Request Reason Date Result Issued  \
0      SEP-2008    Nketa  Viral Load  Routine Viral Load         2025-09-16
1      SEP-2011    Nketa  Viral Load  Routine Viral Load         2025-09-16
2      SPT-2009    Nketa  Viral Load  Routine Viral Load         2025-09-16
3      SEP-2011    Nketa  Viral Load  Routine Viral Load         2025-09-16
4      SEP-2012    Nketa  Viral Load  Routine Viral Load         2025-09-16

  lab_request_number task_status   test_type           task_authored_on  \
0             92479M    accepted  Viral Load  2025-09-16T07:55:10+02:00
1             13959X    received  Viral Load  2025-09-16T08:07:29+02:00
2             84482R    received  Viral Load  2025-09-16T08:08:50+02:00
3             22837M    accepted  Viral Load  2025-09-16T08:20:22+02:00
4             59571J    accepted  Viral Load  2025-09-16T08:30:02+02:00

           date_sample_taken encounter_facility encounter_facility_id  \
0  2025-09-16T07:54:43+02:00              Nketa              ZW090A17
1  2025-09-16T08:07:03+02:00              Nketa              ZW090A17
2  2025-09-16T08:08:28+02:00              Nketa              ZW090A17
3  2025-09-16T08:19:43+02:00              Nketa              ZW090A17
4  2025-09-16T08:29:46+02:00              Nketa              ZW090A17

  impilo_cid_long_lab_req_num
0       09-0A-17-2025-L-14893
1       09-0A-17-2025-L-14906
2       09-0A-17-2025-L-14910
3       09-0A-17-2025-L-14926
4       09-0A-17-2025-L-14945

In [81]:
left_merge = pd.merge(df1, df3, left_on='Laboratory Request Number', right_on='impilo_cid_long_lab_req_num', how='left')
print(f"Left merge shape: {left_merge.shape}")

# Add match status column
left_merge['match_status'] = left_merge['impilo_cid_long_lab_req_num'].apply(
    lambda x: 'Match' if pd.notna(x) else 'No Match'
)

# Save to CSV
left_merge.to_csv('matched.csv', index=False)
print("File saved as 'matched.csv'")

# Show match summary
print("\nMatch Status Summary:")
print(left_merge['match_status'].value_counts())

Left merge shape: (77, 16)
File saved as 'matched.csv'

Match Status Summary:
No Match    49
Match       28
Name: match_status, dtype: int64